.legend-large, .legend-small {
  border-radius: 50%;
  border-color: #f7f7f5;
  border-width: 2px;
  background-color: rgb(101, 50, 121);
}

hr.small, hr.large {
  width: 65px;
  position: absolute;
  top: -8px;
  left: 30px;
  border: 1px dashed #ccc;     /* overwrite assembly.css rule */
  margin-top: 8px;            /* overwrite assembly.css rule */
}

img.poi-popup {
  width: 240px;
}

.border--green-trail {
  border-color: #658d1b;
}

#info-icon {
    cursor: pointer;
    pointer-events: auto;
}

/* @keyframes highlight {
    0% {
        fill: #ffffff;
    }
    100% {
        fill: 'currentColor';
    }
}

.highlight {
  animation: highlight 2s;
} */
